.root {
  margin: 4em 2em 2em;
}

.dialog {
  position:absolute;/**绝对定位**/
  left:50%;/**左边50%**/
  top:50%;/**顶部50%**/
  margin-top:-50px;/**上移-50%**/
  margin-left:-100px;/**左移-50%**/
}

.mat-h2 {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

div {
  margin: 2px;
  position: relative;
}

#img_wrap {
  display: flex;
  flex-wrap: wrap;
}

.img_x {
  background-color: violet;
  position: relative;
  cursor:pointer;
}

.img_x > img {
  position: absolute;
  vertical-align: bottom;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_x > i {
  display: block;
  background-color: lightblue;
}
