<div class="features-box ">
    <div class="columns">
        <div class="column features">
            <h3 class="title is-3">👋 你好吖，我是Andrew Martin</h3>
            <br>
            <p class="text">你好哇，我是Andrew。我在中国是一枚Android粉、以及Material Design爱好者！</p>
        </div>
        <div class="column is-narrow icon">
            <img id="and-icon" src="../../../assets/images/160-160.png" alt="Andrew" width="138" height="138">
        </div>
    </div>

    <p class="text">我特别喜欢在网络上探索一些惊艳的应用UI设计，并尝试自己设计那样的UI，通过Android实现效果。实际上我喜欢享受视觉、除了UI、动效之外我还痴迷与摄影、绘画。</p>

    <p class="text">在15岁那年，我在这个不能轻易访问Google的地域中发现了原生Android 7.0预览版的到来。从此就开始了对原生Android系统的热爱。如今我正在努力成为一名全职开发人员。</p>

    <h3 class="mat-h3">您还可以在以下位置找到我：</h3>

    <app-jump-icons></app-jump-icons>
</div>
