#and-icon {
  margin-right: 6em;
}

.features-box {
  margin-left: 2em;
  margin-right: 4em;
  margin-top: 4em;
}

.icon {
  width: 140px;
  height: 140px;
  padding: 0;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
}

p {
  color: #222222;
}

span {
  color: #3A414E;
}

.text {
  font-size: 1.2em;
  letter-spacing:1px;
  line-height:26px;
}

.features {
  padding-bottom: 0;
  margin-top: 2em;
}

.mat-h1 {
  margin-top: 0.6em;
}

.mat-h3 {
  font-weight: 600;
  margin-top: 30px;
  color: #161D2D;
}

.about_wave__2bBrx{
  -webkit-animation-name:about_wave-animation__2OiPD;
  animation-name:about_wave-animation__2OiPD;
  -webkit-animation-duration:2.5s;
  animation-duration:2.5s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  transform-origin:70% 70%;
  display:inline-block
}
@-webkit-keyframes about_wave-animation__2OiPD{
  0%{transform:rotate(0deg)}
  10%{transform:rotate(-10deg)}
  20%{transform:rotate(12deg)}
  30%{transform:rotate(-10deg)}
  40%{transform:rotate(9deg)}
  50%{transform:rotate(0deg)}to{transform:rotate(0deg)}
}
@keyframes about_wave-animation__2OiPD{0%{transform:rotate(0deg);}
                                                                                                                                                                                                     10%{transform:rotate(-10deg);}
                                                                                                                                                                                                     20%{transform:rotate(12deg);}
                                                                                                                                                                                                     30%{transform:rotate(-10deg);}
                                                                                                                                                                                                     40%{transform:rotate(9deg);}
                                                                                                                                                                                                     50%{transform:rotate(0deg);}
                                                                                                                                                                                                     to{transform:rotate(0deg);}}
