<div id="buttons">
    <p class="buttons">
        <button *ngFor="let skill of skills" class="button is-rounded skill skill-{{skill.id}}" id="skill"
                (click)="selectSkill(skill)"
                [ngStyle]="{
            'background-color': skill.primary,
            'border-color': skill.primary}">
        <span class="icon">
            <img src="{{skill.icon}}" alt="">
        </span>
            <span style="color: {{skill.titleColor}}">
            {{skill.title}}
        </span>
        </button>
    </p>
</div>

<app-skill-bar [skill]="selectedSkill"></app-skill-bar>
