<div class="root">
    <h2 class="mat-h2">🚀 博客</h2>
    <div class="is-ancestor root">
        <a *ngFor="let md of markdowns" class="boox blog-link" routerLink="/blog/md-page/{{md.id}}">
            <div class="item">
                <div id="image-layout" style="background-image: url('{{md.image}}');"></div>
                <h3 class="title is-4 mat-h4">{{md.title}}</h3>
                <p class="date">{{md.date}}</p>
                <p *ngIf="md.content" class="content">{{md.content}}</p>
            </div>
        </a>
    </div>
</div>
