<div id="background">
  <app-action-bar></app-action-bar>
  <div class="container is-widescreen">
    <div class="default-margin"></div>
    <div>
      <app-and-features></app-and-features>
      <div id="skill">
        <h2 class="mat-h2">🚀 技能</h2>
        <app-chip-skill-button></app-chip-skill-button>
        <app-skill-bar></app-skill-bar>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div id="project">
        <h2 class="mat-h2">👨‍💻 项目</h2>
        <app-project-tiles></app-project-tiles>
      </div>
    </div>
  </div>
  <app-home-footer></app-home-footer>
</div>
