<div class="tile is-ancestor">
    <a class="tile" id="project-link" href="">
        <div class="item">
            <img class="project-icon" src="../../../assets/images/160-160.png" alt="ProjectIcon" width="60" height="60">
            <div class="text-layout">
                <h2 class="mat-h2">Project</h2>
                <p class="description">Dashboard for creating Android Icons apps.</p>
            </div>
        </div>
    </a>

    <a class="tile" id="project-link" href="">
        <div class="item">
            <img class="project-icon" src="../../../assets/images/160-160.png" alt="ProjectIcon" width="60" height="60">
            <div class="text-layout">
                <h2 class="mat-h2">Project</h2>
                <p class="description">Dashboard for creating Android Icons apps.</p>
            </div>
        </div>
    </a>

    <a class="tile" id="project-link" href="">
        <div class="item">
            <img class="project-icon" src="../../../assets/images/160-160.png" alt="ProjectIcon" width="60" height="60">
            <div class="text-layout">
                <h2 class="mat-h2">Project</h2>
                <p class="description">Dashboard for creating Android Icons apps.</p>
            </div>
        </div>
    </a>

</div>
