<!-- ActionBar -->
<nav class="navbar is-transparent is-fixed-top card">
    <div class="container is-widescreen">

        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="../../assets/images/160-160.png" alt="Bulma: a modern CSS framework based on Flexbox" width="36" height="36">
            </div>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" (click)="toggleBurger()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="and-title">
                <span>欢迎路过And小站🤪</span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">
                        关于
                    </div>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="https://bubbble.org">
                            我的故事
                        </a>
                        <span class="navbar-item" (click)="more()">更多？</span>
                        <hr class="navbar-divider is-active">
                        <span class="navbar-item is-active" (click)="openDialog()">一起游戏</span>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item is-tab">
                    <div class="tabs">
                        <ul>
                            <li class="home is-active" id="home" (click)="selected('#home')"><a routerLink="/home">主页</a></li>
                            <li class="blog" id="blog"  (click)="selected('#blog')"><a routerLink="/blog">博客</a></li>
                            <li class="uses" id="uses" (click)="selected('#uses')"><a routerLink="/uses">使用</a></li>
                            <li class="photos" id="photos" (click)="selected('#photos')"><a routerLink="/photos">相册</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
