@charset "utf-8";

$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.16) !default

.is-tab {
  padding: 0.375rem 1rem 0;
  border: 0;
}
.and-title {
  align-items: center;
  display: flex;
  padding-right: 16px;
}

.card {
  box-shadow: $card-shadow;
}
