.root {
  background-color: #3DDC84;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

#out-progress {
  width: 100%;
  border-radius: 8px;
  background: white;
  height: 16px;
  margin-left: 1em;
  margin-right: 1em;
}
#in-progress {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(#3DDC84, 0.6);
  animation:progress 2s 1s ease-in-out infinite alternate;
}

@keyframes progress {
  0% {
    width: 2%;
  }
  100% {
    width: 100%;
  }
}

#skill-logo {
  margin-left: 1em;
  margin-right: 6px;
  padding-bottom: 2px;
  width: 34px;
  height: 34px;
}

.text {
  margin-right: 1.6em;
  font-size: 16px;
  font-weight: 500;
  letter-spacing:1px;
  line-height:26px;
  color: #3A414E;
}
