@charset "utf-8";
/* You can add global styles to this file, and also import other style files */

$navbar-background-color: rgba(#FFFFFF, 0.80);
$navbar-item-img-max-height: 3rem;

$tabs-border-bottom-width: 2px;
$tabs-border-bottom-color: rgba(#FFFFFF, 0.00);
$tabs-link-hover-border-bottom-color: #DBDBDB;
$tabs-link-padding: 0.7em 2em;

$desktop: 820px;
$widescreen: 960px;
$fullhd: 1024px;

@import "../node_modules/bulma/bulma.sass";

//html,body{
//  height: 100%;
//}
body{
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

