<!-- ActionBar -->
<nav class="navbar is-transparent is-fixed-top card">
    <div class="container is-widescreen">

        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="../../../assets/images/160-160.png" alt="Bulma: a modern CSS framework based on Flexbox" width="36" height="36">
            </div>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="and-title">
                <span>欢迎路过And小站🤪</span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                        关于
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="https://bubbble.org">
                            我的故事
                        </a>
                        <a class="navbar-item" href="https://bubbble.org">
                            更多？
                        </a>
                        <hr class="navbar-divider is-active">
<!--                        <a class="navbar-item is-active" href="https://bubbble.org">-->
<!--                            一起游戏-->
<!--                        </a>-->
                        <span class="navbar-item is-active" (click)="openDialog()">一起游戏</span>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item is-tab">
                    <div class="tabs">
                        <ul>
                            <li class="is-active"><a>主页</a></li>
                            <li><a>博客</a></li>
                            <li><a>项目</a></li>
                            <li><a>相册</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
